@font-face {
    font-family: "font";
    src:url("img/font/Asap-Regular.otf");
}


img#header-top-img{
    height: 50px;
    width:1108px;

}
img#img-header-mid{
    height:110px;
    width:372px;
}
div#left{
    float :left;
    text-align: center;

}
p.center-input{
    text-align: left;
}
div#middle{
    float:left;
    padding-top:20px;
    background-color: white;
}
div#right{
    float :left;


    background-color: white;
}
p#right-p{
    padding-top: 20px;
    padding-left: 150px;

}
.links {
    color: black;
    text-decoration: none;
}
div#header-bot{


}
div#header-top{
    width:1108px;
    height:48px;
    background-color: white;
    float:none;
}
div#header-mid{
    text-align: center;
    float:none;
    width:1108px;
    height:110px;
    background-color: white;
}
p#middle-p{
    background-color: white;
    padding-top: 10%;
    padding-left: 20%;


}
div#middle{

}
div#header-bot{
    float:none;
}
.clear {
    clear:both;
}
#header-bot-left{
    text-align: left;
    background-color: white;
    float:left;
}
div#header{
    width:1108px;
    height:232px;
}
div#body-mid-left{
    padding-left: 8px;
    float:left;
}
div#body-mid-right{
    float:left;
    padding-left: 6px;
    padding-top:0px;


}
div#body-mid{

    width:1108px;
    height:425px;

}
div#left-out{
    color: #EEEE;
    width: 50px;
    height: auto;
    float:left;
}
div#header{
    float:left;
    width:100%;
}

div#body-bot-left{
  padding-left: 13px;
    float:left;
}
div#body-bot-right{
    padding-right: 7    px;
    float:left;
}
div#all-head{
    text-align: center;
    margin: 0 px auto;
    width: 90%;
    background-color: white;
}
div#header-bot-right{
    align-content: right;
    margin-bot:0px;
    width:252px;
    height:72px;
    float:left;

}
#header-bot{
    background-color: white;
    width:1108px;
    height:72px;
}
#menu li{
    color: #f1f1f1;
    display: inline-block;
 padding-right :80px;
    height:20px


}
#menu a{
    text-decoration: none;
}
#menu div{

}
#order{
  margin-left:-5px;
    margin-top:-8px;
}
#find{
    margin-left:-25px;
    margin-top:-9px;
}
#body{
    padding-left: 0px;
    padding-top: 220px;
    background-color: white;
    width:1108px;
    height:1520;
}
#img-1{
    width :1080px;
    height:647px;
}
#body-bot{
    background-color: white;
    width:1108px;
    height:445px;
    padding-bottom: 10px;
}
#img-2{
    padding-left: 5px;
    height:425px;
    width:534px;
}
#img-3{
    padding-left:-4px;
    height:425px;
    width:542px;
    padding-top:-6px;
}
#img-4{
    height:425px;
    width:555px;
}

#body-top {
    background-image:url( "img/body1.png");
    background-repeat: no-repeat;
    width:1108px;
    padding-left:0px;
    height:647px;
    margin-top: 3px;
    margin-left: 14px;
    padding-bottom:0px;
}

#button-shop{
    padding-top: 500px;

}
div p font#line1 {
    height:61px;
    width:472px;
    position: absolute;
    left:330px;
    top: 465px;
    font-size: 50px;
    font-family:font;
}
 div p font#line2 {
    height:61px;
    width:472px;
    position: absolute;
    left:330px;
    top: 510px;
    font-size: 80px;
    font-family:font;
}

div p font#line3 {
    height:43px;
    width:94px;
    position: absolute;
    left:230px;
    top: 1100px;
    font-size: 45px;
    font-family:font;
    font-style :italic;
}
div p font#line4 {
    height:43px;
    width:94px;
    position: absolute;
    left:720px;
    top: 1100px;
    font-size: 45px;
    font-family:font;

}
div p font#line5{
    height:43px;
    width:500px;
    position: absolute;
    left:50px;
    top: 1560px;
    font-size: 45px;
    font-family:font;
}
div p font#line6 {
    height: 43px;
    width: 500px;
    position: absolute;
    left: 600px;
    top: 1560px;
    font-size: 45px;
    font-family:font;
}
#sub-menu{
    background-color: darkgrey;
    display: none;
    position: absolute;
    padding-left: 80px;


}

#menu #AFL:hover + #sub-menu{
    display:block;
}
li.menu-op{
    color: black;
    padding-top:20px;
    margin-left: 2px;
    padding-left:30px;
    border-left: 0px;
}

ul>.menu :hover{
    solid-color: darkgrey;
}
#p-body-mid-right{
    display:inline-block;
}
#footer{
    background-color: #f1f1f1;
   padding-top: 20px;
    width:1108px;
    height: auto;
    background-color: white;


}
#tab{
    height: 50px;
    background-color: white;
    width:1088px;
    text-align: left;
   margin:auto;
    height:50px;
    padding-left: 20px;
    padding-bottom:10px;

}
span.tab{
  padding-right:  20px;
    padding-left:50px;
}
#tab-in{
    width:95%;
    background-color: oldlace;
    margin:auto;

}
#tab-left{
    width: 237px;
    height:366px;
    float: left;
    border-right: solid 1px #ededed;
    padding-right:65px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
}
#tab-right{
    float:left;
    padding-left: 30px;
}
#tab-bot{
    background-color: white;
    width:1108px;
    text-align: left;
    margin:auto;
    height:366px;

}
.footer-banner{
    height:264px;
    margin:auto;
    background: rgb(237,28,36);
    width: 1500px;

}

.footer-join{
    height: 264px;
    background: url('img/footer-banner.png');
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-join .join-title{
    color:white;
    text-transform: uppercase;
    font-size: 29px;

}

.footer-join .input-text-join{
    width: 435px;
    padding: 30px;
    border-radius: 5px 0px 0px 5px;
    border: solid 1px #ededed;
    font-size: 22px;
}

.footer-join .input-button-join{
    margin-left: -4px;
    background: rgb(25,24,24);
    border:solid 1px #191818;
    padding:31px;
    color: white;
    text-transform: uppercase;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    font-size: 23px;
}
.footer-description{
    float: left;
    width: 300px;
    margin-right: 20px;

}
.footer-description img{
    background-color: rgb(225,225,225);
}

.footer-description p{
    margin-left:0px;
    color: rgb(37,37,37);
}

.footer-description .footer-needhelp{
    margin-left:0px;
    margin-top: 20px;
}

.footer-needhelp .needhelp-title img{
    float:left;
}

.footer-needhelp .needhelp-title span{
    line-height: 24px;
    font-weight: bold;
    margin-left: 6px;
    font-size: 17px;
    color: rgb(37,37,37);
}


.footer-needhelp .needhelp-phone span{
    font-weight: bold;
    font-size: 38px;
}
.footer-menu{
    float:left;
    margin-top: 20px;
    width: 710px;
    margin-left:78px;
}
.footer-menu .menu-column{

    margin-left: 28px;
    width: 29%;
    display: inline-table;
}
.footer-menu .menu-column .column-title{
    color: rgb(37,37,37);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
.footer-menu .menu-column ul{
    -webkit-padding-start: 0px;
    list-style-type: none;
}
.footer-menu .menu-column ul li{
    margin-top: 17px;

}
.footer-menu .menu-column ul li a{
    color: rgb(37,37,37);
    text-decoration: none;

}
footer{
    height: 50px;
    background: white;
    text-align: center;
}
footer p{
    line-height: 50px;
    width:100%;
}
#content{
    width: 100%;
    position: relative;
    z-index: 1000;
}
p.tab-left{

    font-size: 40px;
    font-family: font;
    font-weight: bold;

}
p.tab-left-bot{
    padding-top: -30px;
}