.slide-holder{
    padding-top: 5px;
    margin:0 auto;
    width:1023px;
    background-color: darkgray;
}
.slide-container { /*slide-container là khối bao mà slide-stage có thể "trượt" bên trong */
    height: 150px;
    width: 100%;
    overflow: hidden;
    position:relative;
}
.slide-stage{
    position: absolute;
}
.slide-image { /*Độ rộng của .slide-image có thể được thay đổi theo nhu cầu, ảnh hưởng đến độ rộng chung của slideshow*/
    float:left;
    width:180px;
    height:150px;
    text-align: center;
}
.slide-image img{
    width:95%;
    margin:0 auto;
}
.slide-pager{
    position:relative;
}
.slide-control-prev {
    position: absolute;
    text-align: center;
    width: 25px;

    background-color:white;
    line-height: 60px;
    color: black;
    cursor: pointer;
    top: 35px;
    left: -30px;
    bot:10px;
}
.slide-control-next{
    position: absolute;
    text-align: center;
    width: 25px;
    background-color:white;
    line-height: 60px;
    color: black;
    cursor: pointer;
    right: -30px;
    top: 35px;
}
