.slide-holder2{
margin:0 auto;
    width:1023px;
}
.slide-container2 { /*slide-container là khối bao mà slide-stage có thể "trượt" bên trong */
height: 365px;
width: 763px;
overflow: hidden;
position:relative;
}
.slide-stage2{
position: absolute;
}
.slide-image2 { /*Độ rộng của .slide-image có thể được thay đổi theo nhu cầu, ảnh hưởng đến độ rộng chung của slideshow*/
float:left;
width:250px;
height:150px;
text-align: center;
}
.slide-image img2{
width:95%;
margin:0 auto;
}
.slide-pager2{
position:relative;
}
.slide-control-prev2 {
    position: absolute;
    text-align: center;
    width: 25px;


    line-height: 60px;
    color: black;
    cursor: pointer;
    top: 35px;
    left: -30px;
}
.slide-control-next2{
position: absolute;
text-align: center;
width: 25px;


line-height: 60px;
color: black;
cursor: pointer;
right: -30px;
top: 35px;
}